/* linear gradient for top nav section:
    top: #f15f52
    bottom: #e54839

font-family: 'Courier Prime', monospace;
font-family: 'Work Sans', sans-serif;
font-family: 'Yesteryear', cursive;

*/

:root {
    --prim: #df473a;
    --sec: #fff8ce;
    --textColor: #691e1b;
    --offerHeader: #999e03;
    --figureBg: #f5eedc;
    --offerBg: #f9f5ea;
    --clientBg: #66635e;
    --clientText: #aeaba6;
    --infoBg: #5c5954;
    --colophonBg: #413e39;
    --workSans: 'Work Sans', sans-serif;
    --topNav: linear-gradient(
        to bottom,
        #f15f52,
        #e54839
    );
}

/* generic */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

/* header */

.social-section {
    background-color: var(--prim);
}

.soc-link {
    color: var(--sec);
    transition: color 0.5s ease;
}

.soc-link:hover {
    color: var(--clientText)
}

.top-nav-section {
    padding: 40px 0;
    background-color: var(--topNav);
}

.top-nav-item {
    font-family: var(--workSans);
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.top-nav-item a {
    color: var(--sec);
    transition: color 0.5s ease;
}

.top-nav-item a:hover {
    color: #000;
}

@media (min-width: 768px) {
    .top-nav-section {
        padding: 40px 0;
    }
}

.logo {
    color: #fff;
    font-family: var(--workSans);
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
}

@media (max-width: 767px) {
    .logo {
        font-size: 72px;
    }
}

.dropdown-div select {
    margin: 10px auto;
    padding: 10px 0;
    width: 100%;
}

.slogan-section {
    padding: 40px 0;
    background-color: var(--sec);
}

@media (min-width: 768px) {
    .slogan-section{
        padding: 20px 0;
    }
}

.slogan-text {
    color: var(--textColor);
    font-family: var(--workSans);
    font-size: calc(14px + (24 - 14) * ((100vw - 300px) / (1600 / 300)));
    font-style: italic;
    font-weight: 100;
}

@media (max-width: 767px) {
    .slogan-text {
        font-size: 36px;
    }
}

@media (min-width: 768px) {
    .slogan-text {
        margin: 0;
        width: 48%;
    }
}

form {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 30px;
    border: 1px solid black;
}

@media () {

}

input {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px 0;
    background-color: var(--sec);
    border-color: var(--textColor);
}

/* close header */

/* main */

.carousel-section {
    position: relative;
    margin-bottom: 40px;
    min-height: 330px;
    box-shadow: 5px 5px 5px #ddd;
}

.background-div {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: green;
    background-size: cover;
    opacity: 0.80;
}

.my-carousel {
    position: absolute;
    top: 0;
    /* right: 2%; */
    /* left: 2%; */
    bottom: 0;
}

.hero-header {
    position: absolute;
    color: #fff;
    top: 200px;
    left: 20%;
    z-index: 2;
    font-size: 96px;
    font-weight: 700;
    text-align: center;
}

.hero-span {
    display: block;
    font: 48px;
}

.promo-div {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    padding: 20px 10px;
    width: 25%;
    height: 125px;
    background-color: var(--sec);
    color: #000;
    opacity: 0.70;
    box-shadow: 5px 5px 5px #777;
}

.promo-header {
    font-size: 22px;
    font-style: italic;
}

.promo-text {
    font-size: 14px;
    font-style: italic;
    color: var(--textColor);

}

.figure-section {
    background-color: var(--figureBg);
}
.figure {
    background: #ffffff;
    box-shadow: 5px 5px 5px #ddd;
}

.figure-img {

}

.figcaption {
    padding: 16px;
}

.figcaption-header {
    margin-top: 16px;
    margin-bottom: 0;
    padding-left: 20px;
    color: var(--prim);
    font-family: var(--workSans);
    font-size: 16px;
    text-transform: uppercase;
}

.figcaption-text {
    margin: 0;
    padding-left: 20px;
    padding-bottom: 20px;
    color: var(--textColor);
    font: 12px;
}

.offer-section {
    padding: 40px 0;
    background-color: var(--offerBg);
}

.sub-header {
    color: var(--textColor);
    font-family: var(--workSans);
    font-size: 42px;
    font-style: italic;
    font-weight: 100;
}

.offer-header {
    color: var(--offerHeader);
    font-family: var(--workSans);
    font-weight: 700;

}

.small-text {
    display: block;
    font-size: 12px;
    text-transform: uppercase;
}

.offer-text {
    color: var(--textColor);
    font-family: var(--workSans);
    font-size: 12px;
    font-weight: 100;
}

.offer-text-div a {
    color: var(--prim);
} 

/* close main */

/* footer */

.client-section {
    padding: 80px 0;
    background: var(--clientBg);
    box-shadow: 5px 5px 5px #333;
}

.client-item {
    padding: 0 40px;
    border-right: 1px solid var(--clientText);
    text-transform: capitalize;
}

.client-item:nth-child(1) {
    font-family: var(--workSans);
}

.client-item:nth-child(2), .client-item:nth-child(4) {
    font-family: 'Yesteryear', cursive;
}

.client-item:nth-child(5) {
    
}

@media (max-width: 767px) {
    .client-item:nth-child(2) {
        border-right: none;
    }
}

.info-section {
    padding: 30px 0;
    background-color: var(--infoBg);
}

.footer-info {
    padding: 60px 0;
}

.footer-info h2 {
    margin-bottom: 40px;
    color: #fff;
    font-family: var(--workSans);
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
}

.info-footer p {
    margin-bottom: 20px;
    color: var(--clientText);
    font-size: 18px
}

.footer-info a {
    color: var(--clientText);
    text-decoration: underline;
}

.blog-subheader {
    margin-bottom: 0;
    color: #fff;
    font-size: 18px;
}

.contact-list-item {
    color: var(--clientText);

}

.contact-list-item:last-child {
    padding: 15px 0;
}

.contact-list-item:last-child a {
    color: var(--sec);
}

.colophon-section {
    padding: 60px 0;
    background-color: var(--colophonBg);
}

.footer-logo {
    color: #fff;
    font-family: var(--)
}